[submodule "www/js/chunklekit"]
	path = www/js/chunklekit
	url = git@github.com:oshiimizunohuta/chunklekit.git
[submodule "www/app/encode_mailaddr"]
	path = www/app/encode_mailaddr
	url = git@github.com:oshiimizunohuta/encode_mailaddr.git
[submodule "www/app/thumbtri"]
	path = www/app/thumbtri
	url = git@github.com:oshiimizunohuta/thumbtri.git
[submodule "www/app/pixelword_printer"]
	path = www/app/pixelword_printer
	url = git@github.com:oshiimizunohuta/pixelword_printer.git
[submodule "www/app/rasterscrollsim"]
	path = www/app/rasterscrollsim
	url = git@github.com:oshiimizunohuta/rasterscrollsim.git
[submodule "www/app/dropshow"]
	path = www/app/dropshow
	url = git@github.com:oshiimizunohuta/dropshow.git
