/**
 * 	bitchunk Theme
 */


@CHARSET "UTF-8";
@font-face{
}
html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size:16px;
	image-rendering: pixelated; /*chrome*/
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

body{
	background-color:#000001;
	line-height:1.3rem;
	border-style: none; border-width: 1px;
/*	text-shadow:0px 0px 1px #ddeeff;*/
	color:#FCFCFC;
	margin:0;
	padding:0;
}

ul, li, dl, dt, dd{
	margin:0;
	padding:0;
	background-repeat:no-repeat;
}
li{
	text-decoration: none;
	list-style: none;
	background-repeat:no-repeat;

}

img{
	background-repeat:no-repeat;
	margin:0;
	padding:0;
}

h1, h2, h3{
	padding:0;
	margin:0;
	font-size: 1.5rem;
	line-height:1.6rem;
	text-align: left;
}
h3{
	font-size: 1.3rem;
}

@media screen and (max-width:640px){
	html, body{
		font-size:14px;
	}
	h1, h2{
		font-size: 1.14rem;
	}
	h3{
		font-size: 1.02rem;
	}
}

a{
	color: #0078F8;
	font-weight: bold;
/*	text-decoration:underline;*/
	background-repeat:no-repeat;
}
a:hover{
	color: #3CBCFC;
/*	text-decoration:none;*/
}


article{
	width:90%;
	max-width:34rem;
	min-width:300px;
	margin: 0 auto;
	padding:0;
}
section h1{
	margin:0.8rem 0;
}
section h1:before{
	content:'【';
}
section h1:after{
	content:'】';
}

section p{
	margin:0;
	padding:0;
	white-space:pre-wrap;
	line-height: 1.8rem;
	text-align:left;
}

section{
	background-color:white;
	margin:0.8rem 0;
	padding:0.8rem;
}

hr{
	border-width: 0 0.4rem 0.8rem 16.0rem;
	border-style: solid;
	border-color: #ae8d19 transparent;
	border-radius: 3rem;
	clear: both;
}

.donate{
	float:right;
}

.resp_nl{
	display:none;
}
@media screen and (max-device-width:640px){
	.resp_nl{
		display:block;
	}
}
@media screen and (max-width:640px){
	.resp_nl{
		display:block;
	}
}

.soundBox{
	text-align: right;
}
audio{
	vertical-align: middle;
}

span{
	vertical-align: middle;
}
/*
.sublink a{
	font-size:0.8rem;
}
*/
.clear{
	font-size:0;
	line-height:0;
	height:0;
	visibility: hidden;
	display:block;
	clear:both;
	border-width: 1px 0 0 0;
	margin: -1px 0 0 0;
	padding:0;
}

.blink{
	animation-name:blinkSimple;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
}
@keyframes blinkSimple{
	0%{opacity:0;}
	49.9%{	opacity:0;}
	50%{opacity:1;}
	99.9%{opacity:1;}
}

.text_red{
	color:red;
}
.block_left{
	float:left;
}
.text_center{
	text-align:center;
	display:block;
}
.text_left{
	text-align:left;
}
.text_right{
	text-align:right;
}

.hide{
	display:none;
}

.bold{
	font-weight: bold;
}

/**
 * 	Header part
 */
header{
	margin:0;
	padding:0;
}
nav{
	margin:0;
	padding:0;
	text-align: left;

}

nav .head-layer:before, nav .head-layer:after{
	content: '';
	display:block;
	height: 16px;
	width: auto;
	background-image:url('/img/common/header_chunk.png');
	background-size: contain;
}

nav .head-layer{
	height: 64px;
	background-repeat: repeat-x;
	min-width:1024px;
	overflow: hidden;
	/*display: inline;*/
	background-color: #000001;
}

.head-layer h1,.head-layer h2{
	width:20%;
	min-width: 160px;
	/*height:48px;*/
	margin:0;
	float:left;
	line-height: 32px;
}
.head-layer h1 #banner, .head-layer h2 #banner{
	height: 16px;
	width: auto;
	vertical-align: middle;

}

.head-layer .menu{
/*	width:64%;*/
	/*min-width:640px;*/
	height:32px;
	margin:0;
	float:left;
	/*font-size:1rem;*/
}

@media screen and (max-width:640px){
	.head-layer .menu{
		display: none;
	}
}

/*head buttons*/
nav .menu button{
	width: 64px;
	height: 32px;
	background-image: url('/img/common/header_buttons.png');
	image-rendering: pixelated; /*chrome*/
	background-size: 200%;
	background-color:transparent;
	border: none;
	cursor: pointer;
	margin-right: 2rem;
	vertical-align: top;
	font-size: 0;
	background-color: black;
	
}

nav .menu button:hover{
	background-image: url('/img/common/header_buttons_hover.png');
}
button.home{
	background-position-x: 0px;
	background-position-y: 0px;
}
button.blog{
	background-position-x: -64px;
	background-position-y: 0px;
}
button.apps{
	background-position-x: 0px;
	background-position-y: -32px;
}
button.about{
	background-position-x: -64px;
	background-position-y: -32px;
}

nav .menu a{
	text-decoration: none;
}
nav .menu a span{
	vertical-align: bottom;
	line-height: 1.0rem;
}
nav .menu p{
	padding: 1rem;
}
@media screen and (max-width:640px){
	nav .menu a span{
		display: block;
		margin: 0.4rem 0;
	}
	nav .menu p{
		padding: 1rem 0.2rem;
		font-size: 1rem;
	}
}

ul.breadcrumb{
	background-image: url('/img/common/bg_check_shadow.png');
	background-size: 64px 64px;
	background-repeat: repeat;
	background-attachment: fixed; 
	background-position: 0 32px; 

	height: 32px;
	padding:0 0.5rem;
	margin:0;
}

ul.breadcrumb li{
	float:left;
}
ul.breadcrumb li:after{
	content:'>';
	margin:0;
	padding:0 0.5rem;
	font-size:0.8rem;
	line-height:0.8rem;
	vertical-align:bottom;
}
ul.breadcrumb li:nth-last-child(2):after{
	content:none;

}
ul.breadcrumb span{
	font-size:0.8rem;
	line-height:0.8rem;
	vertical-align:bottom;
}
@media screen and (max-width:640px){
	ul.breadcrumb span{
/*		font-size: 0.6rem;*/
	}
	ul.breadcrumb li:after{
/*		font-size: 0.6rem;*/
	}
}

#container{
	/*margin: 8px auto;*/
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	overflow: hidden;
	
	background-image: url('/img/common/bg_check.png');
	background-size: 64px 64px;
	background-repeat: repeat;
	background-attachment: fixed;
}

.contents{
/*2 + 2.8rem */
	padding: 0.5rem 4.8rem 5rem;
	margin: 0 auto;
	text-align: center;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
contents{
/*	position:relative;*/
	font-family: "メイリオ","Hiragino Kaku Gothic ProN", sans-serif !important;

}

.contents section{
	padding: 0;
}

.contents section nav, .contents section article{
	transition-duration: 1.4s;
	top: 0;
	background-color:#FCE0A8;
	color: #881400;
	padding: 0.8rem;
	margin:0;
	width: auto;
	max-width:inherit;
	min-width: inherit;
	/*background-color:#B8F8B8;*/
}

.contents section:before, .contents section:after{
	content: '';
	display:block;
	height: 16px;
	width: auto;
	background-image:url('/img/common/bg_check_shadow.png');
	background-size: 64px 64px;
	background-repeat: repeat;
	background-attachment: fixed; 
	background-position: 0 32px; 
}
.contents section article{
	border-image:url('/img/common/section_chunk.png') 8 round;
	border-style: solid;
	border-width:16px;
	/*border-image-width: 16px;*/
}
.contents section nav{
	padding: 0;
}

.date{
	margin:1rem;
}
@media screen and (max-width:640px){
	.contents{
		padding: 0.5rem 1.8rem 5rem;
	}
	.contents p{
/*		font-size: 0.8rem;*/
	}
	.news p{
		line-height: 1rem;
		margin: 0 0 1rem;
	}
	.date{
		margin:0.2rem;
		display:block;
	}

}

/**
 * 	footer part
 */
footer{
	background:#f8d59f;
	width:100%;
	margin:0;
	padding:0;
	position:absolute;
	bottom:0px;	
	height: 64px;
}
footer:before{
	content: '';
	display:block;
	height: 16px;
	width: auto;
	background-image:url('/img/common/bg_check_shadow.png');
	background-size: 64px 64px;
	background-repeat: repeat;
	background-attachment: fixed; 
	background-position: 0 32px; 

}

footer .foot-layer{
	background-color: #000001;
}

footer .foot-layer:before, footer .foot-layer:after{
	content: '';
	display:block;
	height: 16px;
	width: auto;
	background-size: contain;

}

footer .foot-layer:before{
	background-image:url('/img/common/footer_chunk_t.png');
}
footer .foot-layer:after{
	background-image:url('/img/common/footer_chunk_b.png');
}


footer .foot-layer p{
	text-align:center;
	font-size:0.8rem;
	min-height:1rem;
	margin:0;
	padding:0;
	vertical-align:middle;
	line-height: 1rem;
	
}

footer span{
	font-size:0.8rem;
	margin: 0 0.2rem;
}
footer span.siteName{
	font-weight:bold;
}
footer span.auther{
}
footer span.copyright{
}

#mailprompt{
	text-decoration: underline;
	cursor: pointer;
}

/**
 * 	End of Templates Style
 */

.

#display {
/*	width:504px;
	height:96px;*/
}

#display{
	margin: auto;
}

#display img{
	width: 20rem;
	height: auto;
/*	width:504px;
	height:96px;*/
}
@media screen and (max-width:640px){
	#display {
/*		width:168px;
		height:32px;*/
	}
	#display img{
/*		width:168px;
		height:32px;*/
		width: 16rem;
		height: auto;
	}
}


.fade{
	transition-duration: 1.4s;
	top: 0;
}

#display.fadeout{
	transition-duration: 1.4s;
	top: -128px;
	bottom:700px;
}

