/**
 * 	bitchunk Theme
 */


@CHARSET "UTF-8";
@font-face{
}
html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size:16px;
	image-rendering: pixelated; /*chrome*/
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

body{
	background-color:#000001;
	line-height:1.3rem;
	border-style: none; border-width: 1px;
	text-shadow:0px 0px 1px #ddeeff;
	color:#FCFCFC;
	margin:0;
	padding:0;
}

ul, li, dl, dt, dd{
	margin:0;
	padding:0;
	background-repeat:no-repeat;
}
li{
	text-decoration: none;
	list-style: none;
	background-repeat:no-repeat;

}

img{
	background-repeat:no-repeat;
	margin:0;
	padding:0;
}

h1, h2{
	padding:0;
	margin:0;
	font-size: 1.5rem;
	line-height:1.6rem;
}

@media screen and (max-width:640px){
	h1, h2{
		font-size: 1.2rem;
	}
}

a{
	color: hsl(80, 30%, 60%);
	font-weight: bold;
	text-decoration:underline;
	background-repeat:no-repeat;
}
a:hover{
	color: hsl(80, 30%, 80%);
	text-decoration:none;
}


article{
	width:90%;
	max-width:34rem;
	min-width:300px;
	margin: 0 auto;
	padding:0;
}
section h1{
	margin:0.8rem 0;
}
section h1:before{
	content:'【';
}
section h1:after{
	content:'】';
}

section p{
	margin:0;
	padding:0;
	white-space:pre-wrap;
	line-height: 1.8rem;
	text-align:left;
}

section{
	background-color:white;
	margin:0.8rem 0;
	padding:0.8rem;
}

hr{
	border-width: 0 0.4rem 0.8rem 16.0rem;
	border-style: solid;
	border-color: #ae8d19 transparent;
	border-radius: 3rem;
	clear: both;
}

.donate{
	float:right;
}

.resp_nl{
	display:none;
}
@media screen and (max-device-width:640px){
	.resp_nl{
		display:block;
	}
}
@media screen and (max-width:640px){
	.resp_nl{
		display:block;
	}
}

.soundBox{
	text-align: right;
}
audio{
	vertical-align: middle;
}

span{
	vertical-align: middle;
}
/*
.sublink a{
	font-size:0.8rem;
}
*/
.clear{
	font-size:0;
	line-height:0;
	height:0;
	visibility: hidden;
	display:block;
	clear:both;
	border-width: 1px 0 0 0;
	margin: -1px 0 0 0;
	padding:0;
}

.blink{
	animation-name:blinkSimple;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
}
@keyframes blinkSimple{
	0%{opacity:0;}
	49.9%{	opacity:0;}
	50%{opacity:1;}
	99.9%{opacity:1;}
}

.text_red{
	color:red;
}
.block_left{
	float:left;
}
.text_center{
	text-align:center;
	display:block;
}
.text_left{
	text-align:left;
}
.text_right{
	text-align:right;
}

.hide{
	display:none;
}

.bold{
	font-weight: bold;
}

/**
 * 	Header part
 */
header{
	margin:0;
	padding:0;
}
nav{
	margin:0;
	padding:0;
	text-align: left;

}

nav .head-layer:before, nav .head-layer:after{
	content: '';
	display:block;
	height: 16px;
	width: auto;
	background-image:url('/img/common/header_chunk.png');
	background-size: contain;
}

nav .head-layer{
	height: 64px;
	background-repeat: repeat-x;
	min-width:1024px;
	overflow: hidden;
	/*display: inline;*/
	background-color: #000001;
}

.head-layer h1,.head-layer h2{
	width:20%;
	min-width: 160px;
	/*height:48px;*/
	margin:0;
	float:left;
	line-height: 32px;
}
.head-layer h1 #banner{
	height: 16px;
	width: auto;
	vertical-align: middle;

}

.head-layer .menu{
/*	width:64%;*/
	/*min-width:640px;*/
	height:32px;
	margin:0;
	float:left;
}

@media screen and (max-width:640px){
	.head-layer .menu{
		display: none;
	}
}


ul.breadcrumb{
	background-image: url('/img/common/bg_check_shadow.png');
	background-size: 64px 64px;
	background-repeat: repeat;
	background-attachment: fixed; 
	background-position: 0 32px; 

	height: 32px;
	padding:0 0.5rem;
	margin:0;
}
ul.breadcrumb li{
	float:left;
}
ul.breadcrumb li:after{
	content:'>';
	margin:0;
	padding:0 0.5rem;
	font-size:0.8rem;
	line-height:0.8rem;
	vertical-align:bottom;
}
ul.breadcrumb li:nth-last-child(1):after{
	content:none;

}
ul.breadcrumb span{
	font-size:0.8rem;
	line-height:0.8rem;
	vertical-align:bottom;
}

#container{
	/*margin: 8px auto;*/
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	overflow: hidden;
	
	background-image: url('/img/common/bg_check.png');
	background-size: 64px 64px;
	background-repeat: repeat;
	
}

.contents{
/*2 + 2.8rem */
	padding: 0.5rem 4.8rem;
	margin: 0 auto;
	text-align: center;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/**
 * 	footer part
 */
footer{
	background:#f8d59f;
	width:100%;
	margin:0;
	padding:0;
	position:absolute;
	bottom:0px;	
	height: 64px;
}
footer:before{
	content: '';
	display:block;
	height: 16px;
	width: auto;
	background-image:url('/img/common/bg_check_shadow.png');
	background-size: 64px 64px;
	background-repeat: repeat;
	background-attachment: fixed; 
	background-position: 0 32px; 

}

footer .foot-layer{
	background-color: #000001;
}

footer .foot-layer:before, footer .foot-layer:after{
	content: '';
	display:block;
	height: 16px;
	width: auto;
	background-size: contain;

}

footer .foot-layer:before{
	background-image:url('/img/common/footer_chunk_t.png');
}
footer .foot-layer:after{
	background-image:url('/img/common/footer_chunk_b.png');
}


footer .foot-layer p{
	text-align:center;
	font-size:0.8rem;
	min-height:1rem;
	margin:0;
	padding:0;
	vertical-align:middle;
	line-height: 1rem;
	
}

footer span{
	font-size:0.8rem;
	margin: 0 0.2rem;
}
footer span.siteName{
	font-weight:bold;
}
footer span.auther{
}
footer span.copyright{
}

#mailprompt{
	text-decoration: underline;
	cursor: pointer;
}

/**
 * 	End of Templates Style
 */

#display {
	width:504px;
	height:96px;
}

#display{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#display img{
	width:504px;
	height:96px;
}
@media screen and (max-width:640px){
	#display {
		width:168px;
		height:32px;
	}
	#display img{
		width:168px;
		height:32px;
	}
}

/**
 * 	About page
 */
article.about section p:first-line,article.about section p:last-line{
	line-height:0;
	white-space: normal;
}

.sns_buttons{
	text-align: right;
	white-space: normal;
}
article.about section .sns_buttons>div{
	/*display:inline-block;*/
}

/**
 * 	Oekaki page
 */

article.oekaki ul{
	margin: 0 1rem;
	line-height:0;
	width: 94%;
	transition-duration: 0.2s;
	height: auto;
	font-size: 0;
	text-align:left;
	/*background-color:gray; */
}
article.oekaki ul:hover{
	transition-duration: 0.2s;
	padding: 0.5rem 0;
	
}

article.oekaki li{
	display: inline-block;
	background-color:black; 
}
/*article.oekaki li:hover{
	
}*/
article.oekaki ul img{
	transition-duration: 0.2s;
	height:60px;
	z-index:0;
	position:static;
	top:0px;
}
article.oekaki ul img:hover{
	transition-duration: 0.2s;
	height:80px;
	margin:-10px;
	z-index:100;
	position:relative;
	top:-10px;
}

article.oekaki time:before{
	content: '●';
	padding: 0 0.2rem;
	display: inline-block;
	text-indent: -0.5rem;

}
article.oekaki time{
	margin: 1rem 0 -1px 0;
	float:left;
	background-color: #AE8D19;
	color: white;
	padding: 0.2rem 1.4rem 0.2rem 1rem;
	border-radius: 0 1rem;
	font-size: 0.8rem;
	line-height: 0.8;
	vertical-align: middle;
}

/**
 * Appli page
 */
article.appli p{
	margin:1rem 0;
	padding:0;
}
article.appli dl{
	transition-duration: 0.8s;
	max-height:10000px;
	overflow: hidden;
}

article.appli section dt{
	font-size: 1.3rem;
	margin: 1rem 0 0.5rem 0;
	font-weight: bold;
}
@media screen and (max-width:640px){
	article.appli section dt{
		font-size: 1.1rem;
	}
}

article.appli section dd{
	white-space: pre-wrap;
	text-align:left;
}
article.appli section dd:first-line
{
	line-height:0;
	white-space: normal;
}

article.appli section dd{
	width: 90%;
	margin: 0 auto;
	text-align:center;
}

article.appli section dd.description{
	width: 90%;
	text-align:left;
}

article.appli section iframe{
	margin:0 auto;
	width: 90%;
	/*height: auto;*/
}


/**
 * Links page
 */
article.link section dt{
	text-align:left;
}
article.link section dd{
	margin-bottom: 1rem;
}
article.link section dd p{
	white-space: normal;
	overflow:hidden;
	line-height:auto;
	font-size:0.8rem;
	line-height: 1rem;
}
article.link section dd img{
	float:left;
	margin-right: 1rem;
}
article.link section dd br{
	display:none;
	clear:both;
}

article.link .pickup{
}
article.link .pickup .pickbody{
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
	transition-duration:0.6s;
	transition-timing-function: ease-in;
	/*height:400px;*/
	display:block;
	max-height:400px;
}
.close, 
article.link .pickup .close{
	/*display:none;*/
	max-height:0 !important;
}

article.link .pickup p{
	font-weight:bold;
	text-align:right;
}

@media screen and (max-width:640px){
	article.link .pickup .pickbody{
		display:block;
		max-height:200px;
		transition-duration:0.6s;
		transition-timing-function: ease-in;
	}
	article.link section dd br{
		display:block;
	}
	article.link section dd img{
		margin-bottom:0.5rem;
	}

}
